@tailwind base;
@tailwind components;
@tailwind utilities;

.drag-handle {
  cursor: grab;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.drag-handle:active {
  cursor: grabbing;
}
